<div class="col-md-3">
    <div class="content-section">
        <h3>Shortcuts</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light bg-light">
                <a class="text-muted" href="{% url 'post_create' %}">Create A Post</a>
            </li>
            <li class="list-group-item list-group-item-light bg-light">
                <a class="text-muted" href="{% url 'profile' %}">View Profile</a>
            </li>
            <li class="list-group-item list-group-item-light bg-light">
                {% if user.is_authenticated %}
                    <a class="text-muted" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <a class="text-muted" href="{% url 'login' %}">Log In</a>
                {% endif %}
            </li>
        </ul>
        </p>
    </div>
</div>
